.contacto {
	display: flex;
	flex-direction: column;
	height: auto;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.contacto__titulo{
	width: 35%;
	h1{
		font-weight: bold;
	}
}

form {
	* {
		color: #1b262c;
	}
	fieldset {
		background-color: $colorClaro;
		@include bordes(2px, solid, $colorOscuro, 7px);
		padding: 10px;
		box-shadow: 10px 10px #051b2fdb;
	}
	legend {
		background-color: #1b262c;
		color: $colorClaro;
		@include bordes(2px, solid, $colorOscuro, 7px);
		padding: 5px;
	}
	label {
		display: inline-block;
		text-align: center;
		margin: 5px;
	}
}
.contacto__opciones {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
	height: 140px;
}
.contacto__botones {
	margin:auto
}

@media screen and (max-width:576px) {
    .contacto form{
        width: 90%;        
        textarea{
            margin-bottom: 45px;
        }
        div{
            display: contents;
        }
    }    
}

@media screen and (max-width:768px) {
    .contacto form{
        width: 90%;
    }    
}

@media screen and (max-width:992px) {
    .contacto form{
        width: 90%;
    }
}
