header{
    nav{
        background-color: #0B2845EB;
        .container-fluid{
            margin: 10px;
            height: 130px;     
            img{
                width: 150px;
            }       
        }
    }
    position: sticky;
    top: 0px;
    z-index: 999;
    ul.navbar-nav{
        padding: 5px;
        margin: 5px;  
    }
}

.navbar-dark .navbar-nav .nav-link{
    color: $colorOscuro;
}

#navbarCollapse{
    background-color: $colorClaro;
    @include bordes(2px, solid, $colorOscuro, 7px);
}

.header__login{
    padding: 3px;
    display: flex;
    flex-direction: column;
    height: 85px;
    justify-content: space-evenly;
    a{
        padding: 3px;
        background-color: #BBE1FA;
        color: #1b262c;
        text-align: center;
        :hover{
            padding: 3px;
            background-color: #1b262c;
            color: #BBE1FA;
        }
    }
}

#header__boton{
    margin: 10px;
    margin-left: 5px;
}

#header__boton button{
    background: $colorClaro;
    color: #1b262c;
    font-weight: bold;
    cursor: pointer;
    padding: 3px;
    @include bordes(2px, solid, $colorOscuro, 7px);
    &:hover{
        background-color: $colorOscuro;
        color: $colorClaro;
    }
}

#buscar{
    margin-top: 8px;
    @include bordes(2px, solid, $colorOscuro, 7px);
}

@media screen and (max-width:576px) {
    header{
        nav{
            .container-fluid{
                img{
                    width: 120px;
                }
            }
        }
    }    
}